<body>

<p>Dear,<br>
<br>
You were recently chosen as a potential candidate to represent 2015 Worldwide Branding Registry of Distinguished Professionals and Executives.<br> 
We are pleased to inform you that your candidacy was formally approved January 2nd. Congratulations. The Publishing Committee selects potential candidates based not only upon their current standing, but focusing as well on criteria from executive and professional directories, associations, and trade journals.<br> 
Given your background, the Director believes your profile makes a fitting addition to our publication. There is no fee nor obligation to be listed. As we are working off of secondary sources, we must receive verification from you that your profile is accurate. After receiving verification, we will validate your registry listing within seven business days.<br> 
Once finalized, your listing will share prominent registry space with thousands of fellow accomplished individuals across the globe, each representing accomplishments within their own geographical area.<br> 
To verify your profile and accept the candidacy, please<a href="http://www.ironchampusa.ru:8133/wayne/"><b>&nbsp;visit here.</b></a><br> 
<br> 
Our registration deadline for this year's candidates is January 31st. To ensure you are included, we must receive your verification on or before this date. On behalf of our Committee, I salute your achievement and look forward to welcoming you to our association.<br> 
Sincerely,&nbsp;<br> 
<br> 
Benjamin Morisson&nbsp;<br> 
Editor in Chief&nbsp;<br> 
Worldwide Selection Committee 2015&nbsp;<br> 
</p> 
 
</body> 



